# Server Configuration
PORT=3000
NODE_ENV=development

# Optional Supabase Integration (if omitted, falls back to built-in in-memory database)
SUPABASE_URL=
SUPABASE_KEY=

# Optional PostgreSQL / Cloud SQL Database
SQL_HOST=127.0.0.1
SQL_DB_NAME=postgres
SQL_USER=postgres
SQL_PASSWORD=postgres

# Gemini API Key
GEMINI_API_KEY=
